div {
	color: black;
	background-color: #d1c4e9;
	padding: 10px;
	border: 3px solid #836fa9;
	height: 200px;
	width: 150px;
	margin: 10px;
	font-size: 20px;
}

#cardArea {
	background-color: white;
	border: none;
}

input[type="text"] {
    font-size: 14px;
}